/*******************************************************/
/**
 * Text
 */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

body {
    text-align: center;
    font-family: Arial;
    background-color: black;
    background-image: url("../images/greybg.jpg");
    background-repeat: repeat-x;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
}

body.pages {
    background-repeat: repeat;
}

#wrapper {
    width: 600px;
    margin: 0 auto;
    text-align: left;
    color: #ccc;
    font-family: Arial;
}

#wrapper2 {
    width: 400px;
    margin: 0 auto;
    text-align: left;
    color: #ccc;
    font-family: Arial;
}

#wrapper2-5 {
    width: 450px;
    margin: 0 auto;
    text-align: left;
    color: #ccc;
    font-family: Arial;
}

#wrapper3 {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    color: #ccc;
    font-family: Arial;
}

#wrapper4 {
    width: 600px;
    margin: 0 auto;
    text-align: left;
    color: #ccc;
    font-family: Arial;
}

#wrapper5 {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #ccc;
    font-family: Arial;
}

#wrapper6 {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    color: #ccc;
    font-family: Arial;
}

#border {
    border-top-style: solid;
    width: 600px;
    margin: 0 auto;
    text-align: left;
    color: #ccc;
    font-family: Arial;
}

#icons {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #ccc;
    font-family: Arial;
}

#iconlabels {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #ccc;
    font-family: Arial;
}

#nav {
    
}

#navbar-left {
    width: 100px;
    text-align: left;
    float: left;
    position: fixed;
}

#navbar-right {
    width: 400px;
    text-align: right;
    float: right;
}

#photoCredit {
    font-size: 12px;
    color: #3F4052;
}

#footer {
    text-align: center;
}

strong {
    font-size: 24px;
}

h1 {
    color: #ccc;
}

h2 {
    color: #ccc;
}

p {
    color: #ccc;
    font-size: 18px;
    margin-top: 0;
    padding: 0;
}

p.name {
    font-size: 20px;
}

p.description {
    
}

p.copyright {
    color: #FAE84C;
    font-size: 12px;
    text-align: center;
}

section.top-left {
    text-align: left;
}

li.smaller {
    font-size: 14px;
}


/*******************************************************/
/**
 * Images
 */

img.site-logo {
    width: 150px;
}

img.site-logo-notmain {
    width: 80px
}

img.mainSelf {
    width: 150px;
    border-radius: 30px;
}

img.mainIcons {
    width: 80px;
}

img.mainIcons-navbar {
    width: 50px;
}

img.mainIconsHeader {
    width: 150px;
}

img.rissmanLabLogo {
    width: 200px;
}

img.hackingicons {
    width: 140px;
    background-color: white
}

img.archeryWest2015 {
    width: 900px;
}

img.footer-icons {
    width: 20px;
}

img.steamprofileicon {
    width: 150px;
}

img.profile-icon {
    width: 45px;
}

/*******************************************************/
/**
 * Links
 */

/* unvisited link */
a:link {
    color: #83A6CE;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #83A6CE;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #83A6CE;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #83A6CE;
    text-decoration: underline;
}

/*******************************************************/
