body {
  text-align: center;
  font-family: Arial;
  background-color: black;
  background-image: url("../images/greybg.jpg");
  background-repeat: repeat-x;
  background-position: center top;
}

img.mainSelf {
  width: 150px;
  border-radius: 30px;
}

img.mainIcons {
  width: 80px;
}

/*******************************************************/

/**
 * SECTIONS
 */

.section { padding:75px 5% 55px; text-align:center; overflow:hidden; }
.section h3 { font-size:30px; color:#4b514b; margin-bottom:.9em; font-weight:normal; padding:0 5%; }
.section .empty { font-size:20px; color:#666; }
.section .empty i { font-size:35px; margin-right:5px; vertical-align:sub; }
.section .empty i.fa-dribbble { color:#EA4C89; }
.section .empty i.fa-tag { color:#8ABA56; }
.section .empty em { font-size:14px; display:block; font-style:normal; color:#aaa; }

/*******************************************************/

p { color:#ccc; font-size:18px; margin-bottom:1.5em; margin-top:0; padding:0; }

/**
 * Footer
 */

#footer { background-image: url("../images/greybg.jpg"); }

/*******************************************************/
